.signup-container {
    display: flex;
    column-gap: 8%;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}

.signup-form {
    width: 400px;
    padding: 20px;
}

h1 {
    font-size: 50px;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 80px;
}

.upload-resume {
    margin-top: 10px;
    text-decoration: underline;
    cursor: pointer;
}

button {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}